<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)" class="mat-elevation-z8">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Device Name:</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Ip:</mat-label>
      <input matInput formControlName="ip">
    </mat-form-field>
  </div>
  <input type="file" #filePicker (change)="onFilePicked($event,0)">
  <input type="file" #filePicker (change)="onFilePicked($event,1)">



  <div>
    <mat-form-field appearance="fill">
      <mat-label>Select old Capability</mat-label>
      <mat-select (selectionChange)="onSelectionChangeCapabilities($event)">
        <mat-option *ngFor="let capability of device.capabilities" [value]="capability.version">
          Version {{capability.version}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select old Costmodel</mat-label>
      <mat-select  (selectionChange)="onSelectionChangeCostmodel($event)" >
        <mat-option *ngFor="let costmodel of device.costmodels" [value]="costmodel.version">
          Version {{costmodel.version}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-button type="button" (click)="AddPort({})">Add Port</button>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div style="display: flex; align-items: center;">
            {{ column }}
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let action of rowActions">
            <button mat-button type="button" (click)="action.performAction(element)" color="primary">
              {{ action.buttonAsText }}
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </div>

  <button mat-raised-button type="submit">Send</button>
</form>
